* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header-text {
    margin-left: 42px;
    margin-top: 47px;
    margin-right: 32px;
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 0.875px;
}

.button-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 7px;
    width: 124px;
    height: 51px;
    margin-top: 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 163px;
}

.img-main {
    margin-left: 237px;
    display: inline-block;
}

section {
    display: inline-block;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    margin-left: 84.98px;
    margin-right: 57px;
    width: 582px;
}

.p-section1 {
    color: #4B505A;
    width: 493px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-left: 84.98px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.link-section {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 55px;
    margin-left: 84.98px;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    h1 {
        width: 278px;
        font-size: 30px;
        text-align: center;
        line-height: 30px;
        margin-inline: auto;
        position: relative;
        top: -88px;
    }

    img {
        width: 340px;
        height: 288px;
        position: fixed;
        bottom: 12px;
        left: -206px;
    }

    .p-section1 {
        text-align: center;
        font-size: 18px;
        line-height: 33px;
        width: 340px;
        margin-inline: auto;
        position: relative;
        top: -94px;
    }

    .link-section {
        font-size: 18px;
        letter-spacing: 1px;
        position: relative;
        top: -117px;
        right: -41px;
    }

    .container-right {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .header-none {
        display: none;
    }

    .button-header {
        margin-block-start: auto;
        font-size: 12px;
        font-weight: 500;
        width: 91px;
        height: 31px;
        position: relative;
        left: 299px;

    }

}